@import "layout/var";

.contacts-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;

  @media (max-width: $xs) {
    display: block;
  }

  &__content {
    font-size: 24px;
    line-height: 29px;

    @media (max-width: $md) {
      width: 50%;
      flex-shrink: 0;
    }

    @media (max-width: $xs) {
      width: 100%;
    }
  }

  &__icon-block {
    margin-top: 24px;
    max-width: 570px;

    @media (max-width: $md) {
      max-width: 405px;
    }

    @media (max-width: $sm) {
      max-width: 320px;
    }

    @media (max-width: $xs) {
      max-width: 100%;
    }
  }

  &__address {
    display: block;
    padding: 0 0 0 47px;
    color: black;
    font-size: 24px;
    line-height: 35px;
    position: relative;
    transition: 0.3s;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: white url('../img/place.svg') no-repeat center;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: $sm) {
      font-size: 18px;
    }
  }

  &__email {
    font-family: $font300;

    &:before {
      background-image: url('../img/mail.png');
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;

    @media (max-width: $sm) {
      display: block;
    }
  }

  &__form {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    flex-shrink: 0;
    padding: 48px 30px 24px;

    @media (max-width: $sm) {
      width: 335px;
    }

    @media (max-width: $xs) {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;

      padding: 24px;
    }
  }

  &__form-title {
    text-align: center;
    color: black;
    font-family: $font700;
    font-size: 18px;
    line-height: 22px;
  }

  &__form-inputs {
    margin: 20px 0 100px;

    @media (max-width: $xs) {
      margin: 0 0 30px;
    }
  }

  &__form-input {
    border: 0;
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
    font-family: $font300;
    font-size: 18px;
    line-height: 22px;
    padding: 3px 0;
    margin-top: 30px;

    &.tel-input {
      border-bottom-color: transparent;
    }
  }

  &__form-note {
    font-size: 14px;
    line-height: 17px;
    color: #4c4c4c;
    margin-bottom: 40px;

    a {
      color: #4c4c4c;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__button {
    width: 203px;
    height: 52px;
    margin: 0 auto;
  }
}