@import "layout/var";

.items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;

  &__block {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
    width: calc(25% - 18px);
    margin-top: 24px;
    margin-right: 24px;
    padding: 24px 16px 16px 16px;
    background: white;

    @media (max-width: $sm) {
      width: calc(33.3% - 16px);

      &:nth-child(3n+3):not(.items__block--three) {
        margin-right: 0;
      }
    }

    @media (max-width: $xs) {
      width: 100%;
      margin-right: 0;
    }

    &:hover {
      transform-origin: center bottom;
      animation-name: bounce;
      animation-duration: 0.7s;
      animation-fill-mode: both;
    }

    @media (min-width: 992px) {
      &:nth-child(4n+4) {
        margin-right: 0;
      }
    }

    &--three {
      width: calc(33% - 16px)!important;
      margin: 0 24px 24px 0;

      @media (max-width: $md) {
        padding: 24px 16px;
      }

      @media (max-width: $sm) {
        width: calc(50% - 12px)!important;

        &:nth-child(even) {
          margin-right: 0!important;
        }
      }

      @media (max-width: $xs) {
        width: 100% !important;
        margin: 0 0 32px;
      }

      @media (min-width: 992px) {
        &:nth-child(3n+3) {
          margin-right: 0!important;
        }

        &:nth-child(4n+4) {
          margin-right: 24px;
        }
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    height: 175px;

    @media (max-width: $md) {
      height: 150px;
    }

    img {
      max-height: 100%;
    }
  }

  &__title {
    color: $main-grey;
    font-size: 14px;
    font-family: $font700;
    line-height: 17px;
    transition: 0.3s;
    height: 50px;
    overflow: hidden;
    display: block;

    @media (max-width: $xs) {
      height: auto;
    }

    &:hover {
      color: $orange;
    }
  }

  &__description {
    color: $main-grey;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
  }

  &__art {
    color: $main-grey;
    font-size: 7px;
    font-family: $font700;
    line-height: 11px;
    margin-top: 10px;
    height: 34px;
    overflow: hidden;
  }

  &__price {
    font-size: 24px;
    font-family: $font700;
    line-height: 29px;
    color: $main-grey;
    margin-top: 12px;

    @media (max-width: $md) {
      line-height: 24px;
    }
  }

  &__currency {
    font-size: 14px;
    font-family: $font300;
  }

  &__button {
    border-radius: 40px;
    width: 100%;
    height: 43px;
    flex-shrink: 0;
    background: $orange url('../img/add-to-card.svg') no-repeat center right 16px;
    transition: 0.3s;
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
    color: white;
    font-family: $font300;

    &:hover {
      background-color: black;
    }
  }
}