@import "layout/var";

.category {
  display: flex;
  padding-top: 60px;
  position: relative;

  @media (max-width: $xs) {
    display: block;
    padding-top: 24px;
  }

  &__top-filter {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 10px;

    @media (max-width: $xs) {
      display: block;
      padding-right: 0;

      .select2 {
        width: 49%!important;
      }
    }
  }

  &__sort-block {
    position: absolute;
    top: -45px;
    left: 0;

    @media (max-width: $xs) {
      position: relative;
      top: 0;
    }

    .select2 {
      @media (max-width: $md) {
        width: 215px!important;
      }

      @media (max-width: $sm) {
        width: 224px!important;
      }
    }
  }

  &__filter {
    width: 263px;
    flex-shrink: 0;
    margin-right: 24px;

    @media (max-width: $md) {
      width: 215px;
    }

    @media (max-width: $sm) {
      width: 224px;
    }

    @media (max-width: $xs) {
      width: 100%;
    }
  }

  &__input {
    width: 100%;
    height: 46px;
    background: white;
    border: 0;
    font-size: 12px;
    line-height: 14px;
    padding: 0 14px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
  }

  &__select,
  &__sort {
    outline: none;
  }

  &__select-wrap,
  &__sort-wrap {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border: 0!important;
    border-radius: 0!important;
    height: 46px!important;
    margin-bottom: 24px;
    outline: none!important;

    .select2-selection__rendered {
      line-height: 46px!important;
      color: $placeholder-color!important;
      padding: 0 57px 0 14px!important;
    }

    .select2-selection__arrow {
      width: 35px!important;
      height: 46px!important;
      top: -1px!important;
      right: 14px!important;

      b {
        border-color: $orange transparent transparent transparent!important;
        border-width: 10px 11px 0 11px!important;
      }
    }
  }

  &__sort-wrap {
    box-shadow: none!important;
    background: none!important;

    .select2-selection__rendered {
      font-size: 16px!important;
      color: black!important;
      line-height: 40px!important;
      padding-left: 0!important;

      @media (max-width: $md) {
        font-size: 14px!important;
      }
    }

    .select2-selection__arrow {
      line-height: 40px!important;

      b {
        margin-top: -5px!important;
      }
    }
  }

  &__select-dropdown,
  &__sort-dropdown {
    margin-top: -24px;
    border: 0!important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 0!important;

    .select2-search {
      display: none;
    }

    .select2-results__option {
      padding: 13px 14px;
    }

    .select2-results__option--highlighted {
      background: $orange!important;
    }
  }

  &__button-wrap {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;

    button {
      margin-left: 24px;
    }
  }

  &__left-label {
    margin-top: 24px;
    font-size: 18px;
    line-height: 22px;
    color: $placeholder-color;
  }

  &__list-block {

  }

  &__list {
    margin-top: 21px;

    &--opened {
      .category__cat {
        &:after {
          content: '-';
        }
      }

      .category__subs {
        display: block;
      }
    }
  }

  &__cat {
    font-family: $font300;
    font-size: 16px;
    line-height: 19px;
    color: black;
    display: block;
    cursor: pointer;
    position: relative;

    &:after {
      content: '+';
      font-family: $font900;
      font-size: 24px;
      line-height: 19px;
      color: $orange;
      float: right;
    }
  }

  &__subs {
    margin-left: 20px;
    display: none;
  }

  &__sub {
    color: $main-grey;
    font-family: $font300;
    font-size: 16px;
    line-height: 19px;
    display: block;
    margin-top: 10px;

    &:hover,
    &--active {
      color: $orange;
    }
  }

  &__left-remont {
    background: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 16px 16px 4px;
    margin-top: 50px;

    @media (max-width: $xs) {
      margin: 30px 0 20px;
    }
  }

  &__remont-link {
    display: block;
    font-family: $font300;
    font-size: 14px;
    line-height: 17px;
    color: black;
    text-decoration-line: underline;
    margin-bottom: 12px;

    &:hover {
      text-decoration: none;
      color: $orange;
    }
  }

  &__content {
    width: 100%;
    position: relative;

    @media (max-width: $xs) {
      margin-top: 32px;
    }
  }

  &__items {
    margin-bottom: 0!important;
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 20px 0 15px;

    @media (max-width: $sm) {
      justify-content: center;
    }
  }

  &__pagination-link {
    display: block;
    background: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    color: $main-grey;
    text-align: center;
    margin: 5px;
    transition: 0.3s;

    &:hover, &--active {
      color: white;
      background: $orange;
    }
  }
}


.select2-container {
  outline: none;
}